
#topImage
{			
	width: 373.5px;
	height: 97.5px;
}

#recordBtn
{
	width: 30px;
	height: 30px;
	margin-left: 31%;
	margin-top: -9%;
	background-color: transparent;
	border-color: transparent;
}

#recordsList
{
	background-color: #666464;
	padding:0;
    margin:0; 
}

.recordItem
{
	list-style-type: none;

	height: 74px;
	background-image: url(../img/recordItem_clean.png);

	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: white;
}

.recordCapture
{
	width: 124px;
	height: 67px;
	margin-top: 4.5px;
	margin-left: 2.3px;
}

.guideName
{
	display: inline-block;
	position: absolute;
	margin-top: 7px;
	margin-left: 15px;
	color: #72CBCB;
	font-size: 26;
	font-family: aviner;
}

.guideTime
{
	display: inline-block;
	position: absolute;
	margin-top: 51px;
	margin-left: 16px;
	font-size: 16;
	font-family: aviner;
}

.playBtn
{
	width: 21px;
	height: 21px;
	z-index: 3;
	position: absolute;
	margin-top: 7.5%;
	margin-left: 14%;
}

.shareBtn
{
	width: 33px;
	height: 31px;
	margin-left: 91%;
	margin-top: -9%;
	background-color: transparent;
	border-color: transparent;
}

.editBtn
{
	width: 35px;
	height: 32px;
	margin-left: -19%;
	margin-top: -9%;
	background-color: transparent;
	border-color: transparent;
}

.deleteBtn
{
	width: 20px;
	height: 18px;
	position: absolute;
	margin-left: 4%;
	margin-top: -19%;
	background-color: transparent;
	border-color: transparent;
}

button
{
	cursor: pointer;
}