
#header
{
	height: 30px;
	width: 100%;
	background-color: #A3A3A3;
}

#image
{
	margin-left: 10px;
	margin-top: 2px;
	display:inline-block;
	vertical-align:top;
}

img
{
	width: 26px;
	height: 26px;
}

#textName
{
	margin-top: 8px;
	margin-left: 15px;
	display:inline-block;
	font-size: 13px;
	color: white;
}

#newRecord
{
	height: 30px;
	width: 100%;
	background-color: #7A7777;
}

#textNewRecord
{
	display: inline-block;
	font-size: 12px;
	color: black;
	margin-top: 8px;
	margin-left: 4;
	position: absolute;
}

#recordBtn
{
	width: 30px;
	height: 30px;
	margin-left: 60px;
}

#controls
{ 
	width: 212px;
	height: 50px;
	background-color: #051D3F;
}

body 
{
	width: 240px;
	background-color: black;
}

#recordsList
{
	background-color: #666464;
	padding:0;
    margin:0; 
}

.extensionIcon
{
	width:72px;
	height:36px;
	color:black;
	z-index: 1;
}

.recordItem
{
	list-style-type: none;
	height: 36px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

.guideName
{
	display:inline-block;
	position: absolute;
	margin-top: 5px;
	margin-left: 7px;
	font-size: 12;
}

.guideTime
{
	display:inline-block;
	position: absolute;
	margin-top: 22px;
	margin-left: 7px;
	font-size: 8;
}

.playBtn
{
	width: 20px;
	height: 20px;
	z-index: 2;
	position: absolute;
	margin-top: 9px;
	margin-left: 27px;
}

.shareBtn
{
	width: 25px;
	height: 25px;
	margin-left: 108px;
	margin-bottom: 5px;
}

.editBtn
{
	width: 10px;
	height: 10px;
	position: absolute;
	margin-left: 15px;
	margin-top: 6px;
}

.deleteBtn
{
	width: 10px;
	height: 10px;
	position: absolute;
	margin-left: 15px;
	margin-top: 22px;
}

button
{
	cursor: pointer;
}