#commandsContainer
{
	/*border-style: solid;
	border-color: white;
	border-width: 3px;*/

	position: absolute;
	margin-top: 10px;

	width: 100%;
	height: 110px;

}

#commandsList
{
	width: 100%;
	height: 40px;
	overflow: hidden;
	/*border-style: solid;
	border-color: white;
	border-width: 2px;*/
}

/*#photosList
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #051D3F;
}*/

li
{
/*	border-style:solid;
	border-width:2px;
	border-color: #051D3F;
	border-radius:50px;*/
	display: inline;
	list-style-type: none;
	padding-right: 25px;

	width: 40px;
	height: 40px;
}

#top
{
	height: 50px;
	width: 100%;
	background-color: #CE6405;
	
}

#controls
{
	width: 104px;
	height: 50px;
	/*border-style:solid;
	border-width:2px;
	border-color: #051D3F;
	float: left;*/
	
	background-color: #051D3F;

	/*padding:5px 10px; 
	border-radius:25px;*/
}

body 
{
	background-color: #CE6405;
}

#clearBtn
{
	background-color: #0C4B90;
}
